.AccountPageFooter
  %ul.AccountPageFooter__lists
    %li.AccountPageFooter__list
      = link_to 'プライバシーポリシー', '#', class: "FooterContent"
    %li.AccountPageFooter__list
      = link_to '利用規約', '#', class: "FooterContent"
