.header
  .header-top
    .header-top__name
      〇〇歯科クリニック
  .header-search
    %form.search
      %input.human-search{type: "placeholder"}
      %button.search-btn{type: "submit"}
        検索
  .header-bottom
    .header-bottom__right
      - if user_signed_in?
        = link_to "" do
          マイページ
        -# = link_to "マイページ", user_path(current_user.id)
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        = link_to "ログイン", new_user_session_path, class: "post"
        = link_to "新規登録", new_user_registration_path, class: "post"