= render partial: 'header'

.top
  - if user_signed_in?
    .top-box
      %h1.title
        顧客情報一覧
        .top-box__name
          名前
        .top-box__sex
          性別
        .top-box__place
          診療場所
  - else
    %h1.message
      顧客情報の登録・確認には会員登録またはログインが必要となります。
