@import "mixin";
.Top-main{
  width: 100vw;
  background-color: #ffffff;
}

.Top-central{
  @include haikei;
}
.Top-central_box{
  display: flex;
  justify-content: space-around;
  // font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: dashed 2px #cccccc;
  &__name{
    display: flex;
    margin-top: 3px;
    font-size: 15px;
    .name__box{
      @include spece;
      font-size: 15px;

    }
  }
  .gender-box{
    @include spece;
  }
  .place-box{
    @include spece;
  }
  .place-name{
    @include spece;
    width: 300px;
    font-size: 15px;
  }
}

.Top-details{
  padding-top: 20px;
  @include haikei;
}
.Top-details_box{
  padding-bottom: 20px;
  border-bottom: dashed 2px #cccccc;
}
.a-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 400px;
    line-height: 50px;
  }
  .medical_examination_box{
    @include box-size;
    margin-left: 30px;
    font-size: 17px;
    height: 50px;
    width: 360px;
    line-height: 50px;
    .medical-box{
      @include spece;
    }
  }
  .Doctor-name{
    margin-left: 30px;
    padding-top: 15px;
    font-size: 15px;
    height: 50px;
    width: 350px;
    display: flex;
     .doctor-name{
      @include spece;
      font-size: 15px;
    }
  }
  .day{
    padding-top: 15px;
    display: flex;
    font-size: 15px;
    height: 50px;

  }
}
.explanatory_text{
  margin-left: 70px;
  display: flex;

  .explanation{
    width:50vw;
    height:150px;
    border: 1px solid #ccc;
    resize: none;
    margin-top: 10px;
    font-size: 20px;
  }
  .time__box{
    margin-top: 15px;
    padding-left: 77px;
    .doctor-time{
      font-size: 20px;
      &__box{
        display: flex;
        .start-time{
          @include time;
        }
        .end-time{
          @include time;
          margin-left: 5px;
        }
      }
    }
    .dh-time{
      font-size: 20px;
      margin-top: 10px;
      &__box{
        display: flex;
        .start-time{
          @include time;
        }
        .end-time{
          @include time;
          margin-left: 5px;
        }
      }
    }
  }
  
}

.b-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
}

.c-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .instructions{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 380px;
    line-height: 50px;
  }
}
.c-instructions_box{
  margin-left: 70px;
  font-size: 17px;
  .instructions-box{
    @include spece;
  }
}
.submit-button {
  padding:40px;
  @include haikei;
  .btn--yellow {
    margin: 40px 0 0;
    background:  #f7c200;
    border: 1px solid  #f7c200;
    color: #fff;
    display: block;
    width: 50%;
    line-height: 48px;
    font-size: 20px;
    transition: all ease-out .3s;
    text-align: center;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
  }
  .btn--darkorange {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 24px auto 0px;
    color: #ff8c00;
  }
}
.field_with_errors {
  display: contents;

}
.day{
  display: flex;
}