.Search{
  width: 100vw;
  height: 100vh;
  background-color: #f8f4e6;
}
.Search-title{
  display: flex;
  height: 25px;
  line-height: 20px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  & .bold {
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
  }
  &__count {
    padding-left: 30px;
    font-size: 15px;
    display: flex;
    color: gray;
    & > span {
      padding-left: 5px;
    }
  }
}
.top-list{
  height: 20vh;
  margin-left: 100px;
  margin-top: 30px;
  table th{
    font-size: 17px;
    font-weight:bold;
    text-align: center;
    width: 300px;
    margin: 0;
    padding: 8px;
    background-color: #EEEEEE;
    border: solid 1px black;
  }
  table td {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 8px;
    border: solid 1px black;
    background-color: #fff;
  }
  .name_link{
    text-decoration: none;
    color: #000;

  }
}
.Search-contents{
  & > p {
    margin-top: 10px;
    text-align: center;
  }
}