@import "mixin";
.main{
  width: 100%;
  background-color: #ffffff;
}
.central{
  @include haikei;
}
.central_box{
  @include central-box;
  &__list{
    display: flex;
    margin-top: 3px;
    font-size: 18px;
    .list-name{
      font-size: 18px;
      line-height: 20px;
    }
    .name{
      @include spece;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .gender{
    @include spece;
    line-height: 20px;
  }
  .place{
    @include spece;
    line-height: 20px;
  }
  .place-name{
    @include spece;
    width: 300px;
    font-size: 18px;
    line-height: 20px;
  }
}

.details{
  padding-top: 20px;
  @include haikei;
}
.details_box{
  padding-bottom: 20px;
  border-bottom: dashed 2px #cccccc;
}
.a_box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 400px;
    line-height: 50px;
  }
  .medical_examination_box{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 270px;
    line-height: 50px;
    .medical-box{
      @include spece;
    }
  }
  .Doctor-name{
    margin-left: 30px;
    padding-top: 15px;
    font-size: 15px;
    height: 50px;
    width: 270px;
    display: flex;
     .doctor-name{
      @include spece;
      font-size: 18px;
      line-height: 25px;
    }
  }
  .day{
    padding-top: 15px;
    display: flex;
    font-size: 15px;
    height: 50px;
    .day-box{
      @include spece;
      font-size: 18px;
      line-height: 25px;
    }
  }
}
.explanatory{
  margin-left: 70px;
  display: flex;
  &__text{
    width:46%;
    height:150px;
    border: 1px solid #ccc;
    resize: none;
    margin-top: 10px;
    font-size: 20px;
  }
  .time-boxs{
    margin-top: 15px;
    padding-left: 82px;
    &__doctor{
      font-size: 20px;
      &__time{
        display: flex;
        .start{
          @include time;
        }
        .end{
          @include time;
          margin-left: 5px;
        }
      }
    }
    &__dh{
      font-size: 20px;
      margin-top: 10px;
      &__time{
        display: flex;
        .start{
          @include time;
        }
        .end{
          @include time;
          margin-left: 5px;
        }
      }
    }
  }
}
.b_box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
}

.c_box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .instructions{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 380px;
    line-height: 50px;
  }
}
.c-instructions__box{
  margin-left: 70px;
  font-size: 17px;
  .instructions-box{
    @include spece;
  }
}
.submit-buttons {
  padding:40px;
  display: flex;
  @include haikei;
  .edit_btn {
    margin: 40px 0 0;
    background:  #ff5bff;
    border: 1px solid  #9d9d9d;
    color: #fff;
    display: block;
    width: 30%;
    line-height: 48px;
    font-size: 20px;
    transition: all ease-out .3s;
    text-align: center;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
  }
  .delete_btn {
    margin: 40px 0 0;
    background:  #5bffad;
    border: 1px solid  #9d9d9d;
    color: #fff;
    display: block;
    width: 30%;
    line-height: 48px;
    font-size: 20px;
    transition: all ease-out .3s;
    text-align: center;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
  }
}
.return-button{
  .btn--darkorange {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 24px auto 0px;
    color: #808080;
  }
}
.day{
  display: flex;
}