@import "mixin";
.Top-main{
  width: 100vw;
  background-color: #ffffff;
}
.Top-main_header{
  display: flex;
  width: 100vw;
}
.medical-title{
  width: 60vw;
  font-size: 30px;
  text-decoration:underline;
  margin-left: 50px;
  margin-top: 10px;
}

.Top-sub-title{
  font-size: 20px;
  text-align: center;
  border-bottom: double 5px #cccccc;
}
.Top-central{
  @include haikei;

}
.Top-central_box{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: dashed 2px #cccccc;
  &__list{
    display: flex;
    .name-box{
      @include spece;
    }
  }
  .gender-box{
    @include spece;
  }
  .place-box{
    @include spece;
  }
  .place-name{
    @include spece;
    width: 300px;
  }
}

.Top-details{
  padding-top: 20px;
  @include haikei;
}
.Top-details_box{
  padding-bottom: 20px;
  border-bottom: dashed 2px #cccccc;
}
.a-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 400px;
    line-height: 50px;
  }
  .medical_examination_box{
    @include box-size;
    margin-left: 30px;
    font-size: 17px;
    height: 50px;
    width: 360px;
    line-height: 50px;
    .medical-box{
      @include spece;
    }
  }
  .Doctor-name{
    margin-left: 30px;
    font-size: 20px;
    height: 50px;
    width: 350px;
    line-height: 50px;
    display: flex;
     .doctor-name{
      @include spece;
    }
  }
  .day{
    display: flex;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    .day-box{
      @include spece;
    }
  }
}
.explanatory_text{
  margin-left: 70px;
  .explanation{
    width:60vw;
    height:150px;
    border: 1px solid #ccc;
    resize: none;
    margin-top: 10px;
    font-size: 20px;
  }
}
.b-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 480px;
    line-height: 50px;
  }
}

.c-box{
  display: flex;
  .title{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .instructions{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 380px;
    line-height: 50px;
  }
}
.c-instructions_box{
  margin-left: 70px;
  font-size: 17px;
  .instructions-box{
    @include spece;
  }
}
.submit-buttons {
  padding:40px;
  display: flex;
  @include haikei;
  .edit_btn {
    margin: 40px 0 0;
    background:  #f7c200;
    border: 1px solid  #f7c200;
    color: #fff;
    display: block;
    width: 30%;
    line-height: 48px;
    font-size: 20px;
    transition: all ease-out .3s;
    text-align: center;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
  }
  .delete_btn {
    margin: 40px 0 0;
    background:  #ffb6c1;
    border: 1px solid  #ffb6c1;
    color: #fff;
    display: block;
    width: 30%;
    line-height: 48px;
    font-size: 20px;
    transition: all ease-out .3s;
    text-align: center;
    height: 46px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
  }
}
.return-button{
  .btn--darkorange {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 24px auto 0px;
    color: #ff8c00;
  }
}
.day{
  display: flex;
}